tools/fastlane-plugin/bin/bugsnag-dsym-upload
tools/fastlane-plugin/Gemfile.lock
maze_output
vendor
*.gem
features/fixtures/fl-project/.bundle/
features/fixtures/fl-project/Gemfile.lock
features/fixtures/fl-project/fastlane/README.md
features/fixtures/fl-project/fastlane/report.xml
.DS_Store
